<h3>ブックマーク一覧</h3>
  <table>
    <thead>
      <tr>
        <th>投稿者名</th>
        <th>投稿情報</th>
        <th>コメント</th>
      </tr>
    </thead>
    <% if @bookmark_list.present? %>
      <% @bookmark_list.each do |b| %>
        <tbody>
          <tr>
            <td><%= b.customer.name %>さん</td>
            <td>
              <%= link_to post_path(b.id) do %>
                <%= image_tag b.image, size: "150x150" %>
                <%= b.store_name %>
              <% end %>
            </td>
            <td>
              <%= b.post_comment %>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
    </table>