<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h3>会員情報編集</h3>
      <%= form_with model: @customer do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.label :"ニックネーム" %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label :"メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "編集内容を保存", class: "btn btn-success" %>
      <%= link_to "退会する", quit_customers_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>