<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h3>会員情報編集</h3>
      <%= form_with model: @customer do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.label :"画像" %></td>
            <td><%= f.file_field :image, accept: 'image/*' %></td>
          </tr>
          <tr>
            <td><%= f.label :"ニックネーム" %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label :"メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :"年齢" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :"性別" %></td>
            <td>
              <%= f.radio_button :sex_method, Customer.sex_methods.key(0) %>
              <%= f.label :sex_men, Customer.sex_methods_i18n[:men] %>
              <%= f.radio_button :sex_method, Customer.sex_methods.key(1) %>
              <%= f.label :sex_women, Customer.sex_methods_i18n[:women] %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :"居住地" %></td>
            <td>
               <%= f.select :prefecture, Customer.residences.keys, {} %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :"コメント" %></td>
            <td><%= f.text_area :comment, autofocus: true %></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "編集内容を保存", class: "btn btn-success" %>
      <%= link_to "退会する", quit_customers_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>