<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="post">
        <h4><%= @customer.name %>さんのプロフィール</h4>
          <% if @customer.image.attached? %>
            <%= image_tag @customer.image %>
          <% else %>
            <%= image_tag "no_image", size: "150x150" %>
          <% end %><br>

          <% if not @customer.id == current_customer.id %>
            <% if current_customer.following?(@customer) %>
              <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class: "btn btn-secondary" %>
            <% else %>
              <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class: "btn btn-primary" %>
            <% end %>
          <% end %><br>
          <table class="post_customer">
            <tbody>
              <tr>
                <td>年齢</td>
                <td><%= @customer.age %></td>
              </tr>
              <tr>
                <td>性別</td>
                <td><%= @customer.sex_method_i18n %></td>
              </tr>
              <tr>
                <td>居住地</td>
                <td><%= @customer.residence %></td>
              </tr>
              <tr>
                <td>コメント</td>
                <td><%= @customer.comment %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="col-md-9">
      <h4>投稿一覧</h4>
      <table class="customer_post">
        <thead>
          <tr>
            <th>店名</th>
            <th>ジャンル</th>
            <th>コメント</th>
            <th>評価平均</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td>
              <%= link_to post_path(post.id) do %>
                <% if post.image.attached? %>
                  <%= image_tag post.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
              <% end %><br>
              <%= post.store_name %>
            </td>
            <td>
              <% post.tags.each do |tag| %>
                <%= tag.genre %>
              <% end %>
            </td>
            <td><%= post.post_comment %></td>
            <td></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>