<div class="container">
  <h3 class="notice"><%= notice %></h3>
  <div class="row">
    <div class="col-md-4 col-12">
      <h3>マイページ</h3>
      <p>
        登録情報
        <%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-success" %>
      </p>
      <% if @customer.image.attached? %>
        <%= image_tag current_customer.image %>
      <% else %>
        <%= image_tag "no_image", size: "150x150" %>
      <% end %>
      <table border="1" style="border-collapse: collapse">
        <tbody>
          <tr>
            <td>ニックネーム</td>
            <td>
              <%= current_customer.name %>
            </td>
          <tr>
            <td>メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
          <tr>
            <td>年齢</td>
            <td><%= current_customer.age %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= current_customer.sex_method_i18n %></td>
          </tr>
          <tr>
            <td>居住地</td>
            <td><%= current_customer.residence %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td><%= current_customer.comment %></td>
          </tr>
        </tbody>
      </table>
      <div class="customer_action">
        <%= link_to "いいね", bookmark_customer_path(@customer.id), class: "btn btn-dark" %>
      </div>
      <div class="customer_action">
        <%= link_to "フォロー", customer_followings_path(@customer.id), class: "btn btn-dark" %>
      </div>
      <div class="customer_action">
        <%= link_to "フォロワー", customer_followers_path(@customer.id), class: "btn btn-dark" %>
      </div>
    </div>
    <div class="col-md-8 col-12">
      <h3 class="title">投稿一覧</h3>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-md-3">
              <p></p>
              <div class="post">
                <%= link_to post_path(post.id) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "140x140" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "140x140" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-9 col-12">
                <table>
                  <tbody>
                    <tr>
                      <th class="post_th">店名:</th>
                      <td><%= post.store_name %></td>
                    </tr>
                    <tr>
                      <th class="post_th">営業日:</th>
                      <td>
                        <%  weekly_columns.each_with_index do |day,i| %>
                          <% if post[day] == true %>
                           <a><%= ["月","火","水","木","金","土","日"][i] %></a>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th class="post_th">営業時間</th>
                      <td><%= post.business_time %></td>
                    </tr>
                    <tr>
                      <th class="post_th">ジャンル:</th>
                      <td>
                        <!--ジャンル-->
                        <% post.tags.each do |tag| %>
                          <%= tag.genre %>
                        <% end %>
                        <!--ジャンル-->
                      <td>
                    </tr>
                    <tr>
                      <th class="post_th">所在地:</th>
                      <td><%= post.address %></td>
                    </tr>
                    <tr>
                      <th class="post_th">評価平均:</th>
                      <td>
                        <% if post.reviews.exists? %>
                          <%= post.reviews.average(:star).floor(1) %>
                        <%else%>
                          ー
                        <% end %>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          <% end %>
      </div>
    </div>
    </div>
  </div>
</div>