<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>マイページ</h3>
      <p>
        登録情報
        <%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-success" %>
      </p>
      <table class="profile">
        <tbody>
          <tr>
            <td>
              <% if @customer.image.attached? %>
                <%= image_tag current_customer.image %>
              <% else %>
                <%= image_tag "no_image", size: "150x150" %>
              <% end %>
            </td>
          <tr>
            <td>ニックネーム</td>
            <td>
              <%= current_customer.name %>
            </td>
          <tr>
            <td>メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
          <tr>
            <td>年齢</td>
            <td><%= current_customer.age %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= current_customer.sex_method_i18n %></td>
          </tr>
          <tr>
            <td>居住地</td>
            <td><%= current_customer.residence %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td><%= current_customer.comment %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "ブックマーク一覧", bookmark_customer_path(@customer.id), class: "btn btn-link" %><br>
      <%= link_to "フォロー一覧", customer_followings_path(@customer.id), class: "btn btn-link" %>
    </div>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-md-3">
              <p></p>
              <div class="post">
                <%= link_to post_path(post.id) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "140x140" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "140x140" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-9">
              <p></p>
              <table>
                <tbody>
                  <tr>
                    <th>店名:</th>
                    <td><%= post.store_name %></td>
                  </tr>
                  <tr>
                    <th>ジャンル:</th>
                    <td>
                      <!--ジャンル-->
                      <% post.tags.each do |tag| %>
                        <%= tag.genre %>
                      <% end %>
                      <!--ジャンル-->
                    <td>
                  </tr>
                  <tr>
                    <th>所在地:</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>評価平均:</th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>
      </div>
    </div>
    </div>
  </div>
</div>