<%= notice %>

<div class="container">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2">
      <h5><%= link_to "新規投稿", new_post_path, class: "fa-solid fa-square-plus" %></h5>
      <%= form_tag posts_path, method: :get, class: "boards_searchForm" do %>
        <%= select_tag :tag_id,
            options_from_collection_for_select(Tag.all, :id, :genre, params[:tag_id]),
            {
              prompt: "ジャンルで絞り込み",
              onchange: 'submit(this.form);'
            }
        %>
      <% end %>

<!--検索ふぉーむ実装中-->
      <div class="search_form">
        <%= search_form_for @q, url: posts_path do |f| %>
          <%= search_field_tag address_matches %>
          <%= f.label :address_cont, "所在地" %>
          <%= f.search_field :address_cont %><br>
          <%= f.submit '検索' %>
        <% end %>
      </div>
<!--ここまで-->

    </div>
    <div class="col-md-10">
      <h3 class="title">投稿一覧</h3>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-md-2">
              <p></p>
              <div class="post">
                <%= link_to post_path(post.id) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "140x140" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "140x140" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-9">
              <div class="post_list">
                <table>
                  <tbody>
                    <tr>
                      <th>店名:</th>
                      <td><%= post.store_name %></td>
                    </tr>
                    <tr>
                      <th>営業日:</th>
                      <td>
                        <%  weekly_columns.each_with_index do |day,i| %>
                          <% if post[day] == true %>
                           <a><%= ["月","火","水","木","金","土","日"][i] %></a>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th>営業時間</th>
                      <td><%= post.business_time %></td>
                    </tr>
                    <tr>
                      <th>ジャンル:</th>
                      <td>
                        <!--ジャンル-->
                        <% post.tags.each do |tag| %>
                          <%= tag.genre %>
                        <% end %>
                        <!--ジャンル-->
                      <td>
                    </tr>
                    <tr>
                      <th>所在地:</th>
                      <td><%= post.address %></td>
                    </tr>
                    <tr>
                      <th>評価平均:</th>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

