<%= notice %>

<div class="post">
  <%= link_to "新規投稿", new_post_path %>
  <h3>投稿一覧</h3>
  <% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <% if post.image.attached? %>
      <%= image_tag post.image, size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
    <% end %><br>

    <%= post.store_name %>
    <% end %>
  <p>
    コメント
  </p>
  <p>評価</p>
  <% end %>
</div>
