<h3>情報提供完了画面</h3>
<p>
  画像
  <% if @post.image.attached? %>
    <%= image_tag @post.image, size: "150x150" %>
  <% else %>
    <%= image_tag "no_image", size: "150x150" %>
  <% end %>
</p>
<p>
  店名
  <%= @post.store_name %>
</p>
<p>
  営業日
  <%= @post.business_day %>
</p>
<p>
  営業時間
  <%= @post.opening_time %>
  <%= @post.closing_time %>
</p>
<p>
  定休日
  <%= @post.holiday %>
</p>
<p>
  住所
  <%= @post.address %>
</p>
<p>
  電話番号
  <%= @post.address %>
</p>
