<div class="container">
  <div class="row">
    <% if @review.errors.any? %>
      <%= @review.errors.count %>件のエラーが発生しました
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= render 'public/posts/show', posts: @posts %>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-10">
      <div class="review">
        <h4>
          口コミ一覧
          <%= link_to "画像一覧", reviews_path(id: @post.id) %>
        </h4>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        口コミ投稿
      </button>
    </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <%= form_with model: @review, local: :true do |f| %>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">口コミ投稿</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--ここからが星レビュー機能-->
              <%= f.label "写真を追加" %>
              <%#= f.file_field :image, accept: "image/*" %><br>
              <%= f.file_field :images, multiple: true %><br>
              <%= f.label :star, "評価" %>
              <div class="form-group" id="star">
                <%= f.hidden_field :star, id: :review_star %>
              </div>
              <script>
                $('#star').empty();
                var elem = document.getElementById("star");
                var opt = {
                  size : 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  scoreName: 'review[star]',
                  half: false,
                };
                raty(elem, opt)
              </script>
              <!--ここまでが星レビュー機能-->
              <%= f.label :review_comment, "口コミ内容" %><br>
              <%= f.text_area :review_comment, size: "25%x10%" %>
              <%= f.hidden_field :post_id, value: @post.id %><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "送信", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
        <%= paginate @reviews %>
        <% @reviews.each do |r| %>
          <div class="review_box">
            投稿日時:<%= r.created_at.strftime("%Y/%m/%d %H:%M") %>
            <% if r.customer.image.attached? %>
              <%= image_tag r.customer.image, size: "50x50" %>
            <% else %>
              <%= image_tag "no_image", size: "50x50" %>
            <% end %>
            <%= link_to list_customer_path(r.customer.id) do %>
              <%= r.customer.name %>
            <% end %>

            <% if r.customer == current_customer %>
              <%= link_to "削除", review_path(r.id), method: :delete, class: "btn btn-danger" %>
            <% end %><br>

            <%#= r.star %>

            <div id="star_<%= r.id %>"></div>

            <script>
              $('#star_<%= r.id %>').empty();
              // var elem = document.getElementById("star_<%= r.id %>");
              // var opt = {
              //   // size: 36,
              //   starOff: "<%= asset_path('star-off.png') %>",
              //   starOn: "<%= asset_path('star-on.png') %>",
              //   readOnly: true, // 読み知り専用
              //   score: <%= r.star %>, // score
              // };
              raty(document.getElementById("star_<%= r.id %>"), // 表示する場所のid
                {
                  starOff: "<%= asset_path('star-off.png') %>", // 星OFFの画像パス
                  starOn: "<%= asset_path('star-on.png') %>", // 星ONの画像パス
                  readOnly: true, // 読み知り専用
                  score: <%= r.star %>, // 表示する星の数
                }
              )
            </script>

            <% if r.images.attached? %>
              <% r.images.each do |image| %>
                <%=link_to image, "data-lightbox": image do %>
                  <%= image_tag image, size: '80x80' %>
                <% end %>
              <% end %>
            <% end %>
            <div class="review_comment">
              <%= r.review_comment %>
            </div>
          </div>
        <% end %>
        <%= paginate @reviews %>
    </div>
  </div>
</div>
