<% if customers.exists? %>
  <% customers.each do |customer| %>
    <tbody>
      <tr>
        <td>
          <%= link_to list_customer_path(customer.id) do %>
            <%= customer.name  %>
          <% end %>
          さん
        </td>
        <td><%= customer.posts.count %>件</td>
        <td><%= customer.followings.count %></td>
        <td><%= customer.followers.count %></td>
      </tr>
    </tbody>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>