<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title">会員一覧</h3>
      <%= paginate @customers %>
      <table align="center" border="1" class="customer">
        <thead>
          <tr>
            <th style="width: 25%" class="customer">会員ID</th>
            <th style="width: 25%">ニックネーム</th>
            <th style="width: 25%">メールアドレス</th>
            <th style="width: 25%">ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td class="customers"><%= customer.id %></td>
            <td class="customers">
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.name %>
              <% end %>
            </td>
            <td class="customers"><%= customer.email %></td>
            <td class="customers">
              <div class="is_deleted">
                <% if customer.is_deleted %>
                  退会
                <% else %>
                  有効
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%#= paginate @customers %>
    </div>
  </div>
</div>