<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>
        <%= @customer.name %>さんの会員詳細<br>
        <%= link_to "プロフィールを編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
      </h4>
      <table class="customer_profile">
        <% if @customer.image.attached? %>
          <%= image_tag @customer.image %>
        <% else %>
          <%= image_tag "no_image", size: "140x140" %>
        <% end %>
          <tr>
            <td style="width: 50%">会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
            <td>氏名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
            <td>年齢</td>
            <td><%= @customer.age %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= @customer.sex_method_i18n %></td>
          </tr>
          <tr>
            <td>居住地</td>
            <td><%= @customer.residence %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td><%= @customer.comment %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td class="is_deleted">
              <% if @customer.is_deleted %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
          </tr>
      </table>
    </div>
    <div class="col-md-8">
      <h3 class="title">投稿一覧</h3>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="post_list">
              <%= link_to admin_post_path(post.id) do %>
                <% if post.image.attached? %>
                  <%= image_tag post.image, size: "140x140" %>
                <% else %>
                  <%= image_tag 'no_image', size: "140x140" %>
                <% end %>
              <% end %>
              </div>
            </div>
            <%= render 'public/posts/list', post: @post %>
        <% end %>
      </div>
    </div>
  </div>
</div>


