<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <%= @customer.name %>さんの会員詳細
        <%= link_to "プロフィールを編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
      </h3>
      <table class="customer_profile">
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
              <td>プロフィール画像</td>
              <td>
                <% if @customer.image.attached? %>
                  <%= image_tag @customer.image %>
                <% else %>
                  <%= image_tag "no_image", size: "150x150" %>
                <% end %>
              </td>
          <tr>
            <th>氏名</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
            <td>年齢</td>
            <td><%= @customer.age %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= @customer.sex_method_i18n %></td>
          </tr>
          <tr>
            <td>居住地</td>
            <td><%= @customer.residence %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td><%= @customer.comment %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td class="is_deleted">
              <% if @customer.is_deleted %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= link_to "投稿一覧", admin_posts_path(@customer.id), class: "btb btn-success" %></td>
          </tr>
      </table>
    </div>
  </div>
</div>


