<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="customer_profile_image">
        <h4>
          <%= @customer.name %>さんの会員詳細<br>
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
        </h4>
        <table class="customer" border="1">
          <tbody>
            <tr>
              <td colspan="2" align="center">
                <% if @customer.image.attached? %>
                  <%= image_tag @customer.image %>
                <% else %>
                  <%= image_tag "no_image", size: "140x140" %>
                <% end %>
              </td>
          <tr>
          <tr>
            <th>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
            <th>氏名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
            <th>年齢</td>
            <td><%= @customer.age %></td>
          </tr>
          <tr>
            <th>性別</td>
            <td><%= @customer.sex_method_i18n %></td>
          </tr>
          <tr>
            <th>居住地</td>
            <td><%= @customer.residence %></td>
          </tr>
          <tr>
            <th>コメント</td>
            <td><%= @customer.comment %></td>
          </tr>
          <tr>
            <th>会員ステータス</td>
            <td class="is_deleted">
              <% if @customer.is_deleted %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <%= render 'admin/posts/list', posts: @posts %>
    </div>
  </div>
</div>


