<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>
        <%= @customer.name %>さんの会員詳細<br>
        <%= link_to "プロフィールを編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
      </h4>
      <table class="customer_profile">
        <% if @customer.image.attached? %>
          <%= image_tag @customer.image %>
        <% else %>
          <%= image_tag "no_image", size: "140x140" %>
        <% end %>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
            <td>氏名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
            <td>年齢</td>
            <td><%= @customer.age %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= @customer.sex_method_i18n %></td>
          </tr>
          <tr>
            <td>居住地</td>
            <td><%= @customer.residence %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td><%= @customer.comment %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td class="is_deleted">
              <% if @customer.is_deleted %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
          </tr>
      </table>
    </div>
    <div class="col-md-8">
      <h4>投稿一覧</h4>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-3">
            <p></p>
            <div class="post">
            <%= link_to admin_post_path(post.id) do %>
              <% if post.image.attached? %>
                <%= image_tag post.image, size: "140x140" %>
              <% else %>
                <%= image_tag 'no_image', size: "140x140" %>
              <% end %>
            <% end %>
          </div>
          </div>
          <div class="col-md-9">
            <p></p>
            <table>
              <tbody>
                <tr>
                  <td>店名:</td>
                  <td><%= post.store_name %></td>
                </tr>
                <tr>
                  <td>ジャンル:</td>
                  <td>
                    <!--ジャンル-->
                    <% post.tags.each do |tag| %>
                      <%= tag.genre %>
                    <% end %>
                    <!--ジャンル-->
                  <td>
                </tr>
                <tr>
                <td>所在地:</td>
                  <td></td>
                </tr>
                <tr>
                  <td>評価平均:</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


