<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <%= form_tag admin_path, method: :get, class: "boards_searchForm" do %>
        <%= select_tag :tag_id,
            options_from_collection_for_select(Tag.all, :id, :genre, params[:tag_id]),
            {
              prompt: "ジャンルで絞り込み",
              onchange: 'submit(this.form);'
            }
        %>
      <% end %>

     <div class="search_form">
      <h4>複数項目で絞り込み</h4>
      <%= search_form_for @q, url: search_admin_posts_path do |f| %>
        <ul>
          <li class="search-nav-content">
            <p><%= f.label "ジャンル" %></p>
            <% Tag.all.each do |label| %>
              <%= f.check_box :post_tags_tag_id_in, { multiple: true,
              checked: label[:checked], disabled: label[:disabled],
              include_hidden: false }, label[:id] %>
              <label><%= label.genre %></label>
            <% end %>
          </li>
          <li class="search-nav-content">
            <p><%= f.label :address_start, "所在地" %></p>
            <%= f.search_field :address_start, placeholder: "東京都世田谷区" %>
          </li>
        </ul>
          <%= f.submit '検索' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 col-sm-12">
      <h3 class="title">投稿一覧</h3>
      <%= paginate @posts %>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-md-3 col-sm-2">
              <div class="post_list">
                <%= link_to admin_post_path(post.id) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "140x140" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "140x140" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-9 col-sm-12">
              <div class="post_list">
                <table>
                  <tbody>
                    <tr>
                      <th class="post_th">店名:</th>
                      <td><%= post.store_name %></td>
                    </tr>
                    <tr>
                      <th class="post_th">営業日:</th>
                      <td>
                        <%  weekly_columns.each_with_index do |day,i| %>
                          <% if post[day] == true %>
                           <a><%= ["月","火","水","木","金","土","日"][i] %></a>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th class="post_th">営業時間</th>
                      <td><%= post.business_time %></td>
                    </tr>
                    <tr>
                      <th class="post_th">ジャンル:</th>
                      <td>
                        <!--ジャンル-->
                        <% post.tags.each do |tag| %>
                          <%= tag.genre %>
                        <% end %>
                        <!--ジャンル-->
                      <td>
                    </tr>
                    <tr>
                      <th class="post_th">所在地:</th>
                      <td><%= post.address %></td>
                    </tr>
                    <tr>
                      <th class="post_th">評価平均:</th>
                      <td>
                        <% if post.reviews.exists? %>
                          <%= post.reviews.average(:star).floor(1) %>
                        <%else%>
                          ー
                        <% end %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>