<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        複数項目で絞り込む
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <%= search_form_for @q, url: search_admin_posts_path do |f| %>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">複数項目で絞り込む</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <li class="search-nav-content">
                  <p><%= f.label "ジャンル" %></p>
                  <% Tag.all.each do |label| %>
                    <%= f.check_box :post_tags_tag_id_in, { multiple: true,
                    checked: label[:checked], disabled: label[:disabled],
                    include_hidden: false }, label[:id] %>
                    <label><%= label.genre %></label>
                  <% end %>
                </li>
                <li class="search-nav-content">
                  <p><%= f.label :address_start, "住所" %></p>
                  <%= f.search_field :address_start, placeholder: "東京都世田谷区" %>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit '検索', class: "btn btn-secondary"  %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <p class="search-genre">
        <%= form_tag search_admin_posts_path, method: :get, class: "boards_searchForm" do %>
          <%= select_tag :tag_id,
              options_from_collection_for_select(Tag.all, :id, :genre, params[:tag_id]),
              {
                prompt: "ジャンルで絞り込み",
                onchange: 'submit(this.form);'
              }
          %>
        <% end %>
      </p>
    </div>

    <div class="col-md-9 col-sm-12">
      <%= render 'admin/posts/list', posts: @posts %>
    </div>
  </div>
</div>