<h3 class="title">投稿一覧</h3>
<div class="row">
  <%= paginate @posts %>
  <% @posts.each do |post| %>
    <div class="col-md-12 col-sm-12">
      <div class="post_list">
        <table border="1" width="100%" class="store">
          <tbody>
            <tr>
              <td rowspan="7" width="25%" align="center">
                <%= link_to admin_post_path(post.id) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "140x140" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "140x140" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th width="15%">店名</th>
              <td><%= post.store_name %></td>
            </tr>
            <tr>
              <th>営業日</th>
              <td>
                <%  weekly_columns.each_with_index do |day,i| %>
                  <% if post[day] == true %>
                   <a><%= ["月","火","水","木","金","土","日"][i] %></a>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td><%= post.business_time %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td>
                <!--ジャンル-->
                <% post.tags.each do |tag| %>
                  <%= tag.genre %>
                <% end %>
                <!--ジャンル-->
              <td>
            </tr>
            <tr>
              <th>所在地</th>
              <td><%= post.address %></td>
            </tr>
            <tr>
              <th>評価平均</th>
              <td>
                <% if post.reviews.exists? %>
                  <%= post.reviews.average(:star).floor(1) %>
                <%else%>
                  ー
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>
