<!DOCTYPE html>
<html>
  <head>
    <title>Ramen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/127dcb1b69.js" crossorigin="anonymous"></script>

  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow">
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if customer_signed_in? %>
                <li>
                  <%= link_to root_path, class: "nav-link text-dark" do %>
                    HOME
                  <% end %>
                </li>
                <li>
                  <%= link_to root_path, class: "nav-link text-dark" do %>
                    MY PAGE
                  <% end %>
                </li>
                <li>
                  <%= link_to root_path, method: :delete, class: "nav-link text-dark" do  %>
                    ログアウト
                  <% end %>
                </li>
                <li>
                  <%= link_to root_path, method: :delete, class: "nav-link text-dark" do  %>
                    絞り込み検索
                  <% end %>
                </li>

                <% elsif admin_signed_in? %>
                <li>
                  <%= link_to root_path, class: "nav-link text-dark" do %>
                    商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to root_path, method: :delete, class: "nav-link text-dark" do  %>
                    ログアウト
                  <% end %>
                </li>

                <% else %>
                <li>
                  <%= link_to root_path, class: "nav-link text-dark" do %>
                    About
                  <% end %>
                </li>
                <li>
                  <%= link_to root_path, class: "nav-link text-dark" do %>
                    新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to root_path, class: "nav-link text-dark" do  %>
                    ログイン
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
    </header>
    <%= yield %>
  </body>
</html>
